@import url('https://fonts.googleapis.com/css?family=Electrolize&display=swap');

/*-----------------------------------------------------------------------------Margins, Padding, Special*/
.container-fluid {
    padding: 0;
}


/*-----------------------------------------------------------------------------Navigation*/

.navigation-group {
    font-family: "Electrolize", sans-serif;
    padding: 10px;
    margin-right: 80px;
}

.navigation-group a {
    font-size: 20px;
    color: #444;
}

.logo {
    font-family: "Electrolize", sans-serif;
    color: rgba(0,0,0,.9);
    font-size: 25px;
    font-weight: 800;
    margin-left: 30px;
    background-color: #fafafa;
}

.logo i {
    font-size: 35px;
    color: rgba(0,0,0,.9);
}

.menubutton {
    margin-right: 35px;
}

/*-----------------------------------------------------------------------------Headings and Paragraphs*/

.heading1 {
    font-family: "Electrolize", sans-serif;
    padding-left: 70px;

}

.paragraph {
    font-family: "Electrolize", sans-serif;
    padding: 0px 30px 0px 30px;
    margin-left: 70px;
}

.cvbutton {
    font-family: "Electrolize", sans-serif;
    margin-left: 50%;
}

.abouthead {
    font-family: "Electrolize", sans-serif;
    font-size: 30px;
    align-items: start;
    padding: 150px 0 50px 0;
    margin-left: 90px;
    color: #444;
}


/*-----------------------------------------------------------------------------Home Page*/

.left-screen, .right-screen {
    width: 100%;
    height: 80vh;
}

.left-screen {
    background-color: #fafafa;
}

.right-screen {
    background-color: #ffd300;
}

/*-----------------------------------------------------------------------------About Page*/

.progress-block {
    padding: 0 10px 0 90px;
    font-family: "Electrolize", sans-serif;
    color: #444;
    font-size: 10px;
}

.recepie {
    color: black;
    text-align: left;
}

.progress i {
    text-align: right;
    font-size: 15px;
    color: black;
}

.bg-color {
    background-color: #ffd300;
}

.skills-list {
    font-size: 15px;
}

/*-----------------------------------------------------------------------------Portfolio Page*/

.thumbnail a > img  {
    border-radius: 100%;
    height: 100px;
    width: 100px;
    border: solid 1px black;
}

.okno {
    padding-bottom: 15px;
    list-style: none;
}

.box1 {
    width: 225px;
    height: 225px;
    background-color: #ffd300;
}

.box1 h5 {
    font-family: "Electrolize", sans-serif;
    color: #444;
}

.box1 p {
    font-family: "Electrolize", sans-serif;
    color: #444;
    font-size: 15px;
}

.box2 {
    width: 225px;
    height: 225px;
    background-color: #fafafa;
}

.box2 h5 {
    font-family: "Electrolize", sans-serif;
    color: #444;
}

.box2 p {
    font-family: "Electrolize", sans-serif;
    color: #444;
    font-size: 15px;
}

/*-----------------------------------------------------------------------------Contact Page*/

.form-group {
    width: 100%;
    height: 100%;
    font-family: "Electrolize", sans-serif;
}

.contactme {
    font-family: "Electrolize", sans-serif;
    color: #444;
    list-style: none;
    font-size: 20px;
}

.callme {
    color: black;
    font-size: 25px;
}

/*-----------------------------------------------------------------------------Footer*/

.quote {
    font-family: "Electrolize", sans-serif;
    padding: 10px 100px 10px 100px;
    margin-top: 20px;
}

.quotetext {
    text-align: center;
    font-size: 15px;
}

.quote h5 {
    margin-left: 70%;
}

.copyright p {
    font-family: "Electrolize", sans-serif;
    font-size: 15px;
    padding: 20px;
    color: #444;
    text-decoration: none;
}


/*-----------------------------------------------------------------------------Social Media Sidebar*/


.left-sidebar {
    position: fixed;
    top: 65%;
    z-index: 999;
    text-align: center;
}

.left-sidebar ul {
    border: none;
    list-style: none;
}

.left-sidebar i.fa {
    padding: 5px;
    font-size: 20px;
    color: #ffd300;
}

.left-sidebar li {
    background-color: #444;
    border-radius: 10%;
    width: 30px;
    transition: .5s;
}

.left-sidebar li:hover {
    width: 60px;
}

/*-----------------------------------------------------------------------------Pictures*/

.picfill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.picfill img {
    min-width: 50%;
    min-height: 50%;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}