@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

/*-----------------------------------------------------------------------------Margins, Padding, Special*/
.container-fluid {
    padding: 30px 30px;
}

.nav-brand {
}

/*-----------------------------------------------------------------------------Navigation*/

.navigation-group {
}

/*-----------------------------------------------------------------------------Buttons*/

/*-----------------------------------------------------------------------------Main Screen*/

.left-screen, .right-screen {
    width: 100%;
    height: 100vh;
}

.left-screen {
    background-color: #bada55;
}

.right-screen {
    background-color: red;
}